process {
    executor = 'slurm'
    queue = 'your_queue_name'  // Replace with your SLURM queue name
    cpus = 2
    memory = '8 GB'
    time = '2h'
}

executor {
    name = 'slurm'
    queueSize = 100
}

slurm {
    queue = 'your_queue_name'  // Replace with your SLURM queue name
    partition = 'your_partition_name'  // Replace with your SLURM partition name
    time = '2h'
    cpus = 2
    memory = '8 GB'
}