conda.enabled = true
conda.useMamba = true
process.executor = 'slurm' 

// process {
//     withLabel: small {
//         executor = 'slurm'
//         clusterOptions = '--account mutationalscanning -partition normal -c 1 --mem=4g --time 00:00:10'
//     }
// }


process {
    executor = 'slurm'
    cpus = 2
    memory = '8 GB'
    time = '2h'
}

executor {
    name = 'slurm'
    queueSize = 100
}

slurm {
    account = 'mutationalscanning'
    partition = 'normal'  
    time = '2h'
    cpus = 2
    memory = '8 GB'
}