conda.enabled = true
conda.useMamba = true
process.executor = 'slurm' 

params.projectDir = "${baseDir}"

// modify these two file path strings
params.bed_filepath = '../../data/ob006_true_mutations_noheaders.bed'
params.bam_filepath = '~/mutationalscanning/DerivedData/bam/HiFi/human/ob006/kinetics/ob006_kinetics_diploid.bam'

process {
    executor = 'slurm'
    clusterOptions = '--account mutationalscanning -p normal -c 1 --mem=8g -t 00:00:30'
}